@keyframes change-color {
    0% {background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/116790b2-hood-211744-168c3006c7f.jpg);} 
    20% {background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/Screenshot-2020-06-23-at-15.56.52.png)}
    40%{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/Good_Morning_Copenhagen_Star-Kopenhagen-Hotel_outdoor_area-62187_1280x1280.jpg);}
    60% {background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/277346700.webp);}
    80% {background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/116790b2-hood-211744-168c3006c7f.jpg);}
}   

@keyframes change{
    0%{margin-left:1000px;}

}



.images{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/Screenshot-2020-06-23-at-15.56.52.png);
    animation-name:change-color;
    animation-duration:10s;
    animation-iteration-count: infinite;
    width:auto;
    height:600px;
    background-size:cover;
    background-position:center;


}

.test {
    display:inline-block;
    padding:30px 30px 30px 30px;
    margin-top:-300px;
    margin-left:35px;
}
.test img{
    width:320px;
    height:320px;
    opacity:1;
    display:inline-flex;
    opacity:0.7;
} 

.test  .description1 h2{
    width:320px;
    height:320px;
    display:inline-flex;
} 
.test  .description1 span{
    width:320px;
    height:320px;
    display:block;
    
   
} 

.description{
    width:320px;
    padding:5%;
    background-color: rgb(255, 255, 255);
    display:inline block;
}  
.description1{
    display:inline-flex;
    margin-bottom:50px;
    margin-right:10px; 
}


.container {
    display:inline-flex;
    margin-bottom:50px;
    margin-right:10px;
}

.container1{
    width:320px;
    padding:5%;
    background-color: rgb(255, 255, 255);
    display:inline block;
    border:10px solid black; 
}





.test img:hover{
    transform: scale(1.1);  
    opacity:1;

}
body{
   
    margin:0;
}

.information h2{
    text-align: center;
    padding:30px;
    font-size:70px;    
    animation-name:change;
    animation-duration:1s;
    position:relative;
    top:-400px; 
    color:white;
    font-weight: bold;   
    font-family:Gill Sans;   
    text-transform: uppercase;
}

.information p{
    text-align:center;
    position:relative;
    top:-400px;
    color:white;
    font-weight:bold;
    animation-name:change;
    animation-duration:1.5s;
    font-size:26px;
    font-family:Century Gothic;
}

li{
    animation-name:changes;
    animation-duration:1.5s;
}

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}


ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.intro h3{
    font-family:Helvetica;
    text-align: center;
    border:5px solid white; 
    position:relative;
    top:-280px;
    width:900px;    
    height:280px;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    font-size:42px;
    font-weight:900;
    color:rgb(0, 0, 0);
    border-radius: 35px 35px 35px 35px;
    
}

.intro img{
    width:100px;
    height:100px;  

}

ol{
    margin-left:10px;
}

.button {
    border-radius: 20px 20px 20px 20px;
    width:90px;
    border:5px solid rgb(183, 178, 178);
    background:rgb(180, 174, 174);
}
.button a{
    text-decoration: none;
    color:rgb(41, 31, 31);

}

.second h2{
    text-align: center;
    font-size:45px;
    color: rgb(0, 0, 0);
    font-family:Helvetica;
}

.second .main{
    display:inline-block;
    padding:150px;
    margin-right:50px;
    margin-top:60px;
    position:relative;
    left:75px;              
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(52, 58, 64, 1);
    width:120px;
    height:160px;

}
#main3{
    display:inline-block;
    padding:150px;
    margin-right:50px;
    margin-top:60px;
    position:relative;
    left:70px;              
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(52, 58, 64, 1);
    width:120px;
    height:160px;
    top:90px;
}
.second .main h3,#main3 h3{
    font-family: 'Georgia', sans-serif; 
    font-size: 30px;
    font-weight: 700; 
    color:rgba(221,220,134,1);
    margin-top:-120px;
    text-align: center;
    
}

.second .main2 p{
    line-height: 22px;
    color: #ffffff;
    margin-top:30px;
    height:100px;    
    font-size:20px;
    width:200px;
    font-family: Montserrat, Verdana, Arial, sans-serif;
    text-align:left;
    position:relative;
    right:30px;

    
    
}





