*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body {
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wallpaperbat.com/img/448416-denmark-wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.title h1 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

body{
    
}

table, td, th {
    border-collapse: collapse;
    border-style: solid;
    padding: 0.625rem;
    font-size: 1.25rem;
    border-color: #D3D3D3;
    margin-left: auto;
    margin-right: auto;
}
thead{ 
    background-color:rgb(78, 70, 137);
    color:rgb(221, 218, 245);
    position: relative;
    left: -50px;
    top: 40px;
}
tbody{
    background-color: rgb(241, 231, 231);
    position: relative;
    left: -50px;
    top: 40px;
}

.Num{
    text-align: right;
}
.content {
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color:#D3D3D3;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1.875rem;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 90px;
}
.description h4{
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #fff;
}

.description p,.detail{
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.description {
    padding: 20px;
    color: #fff;
}
img{
    width: 300px;
    height: auto;
    border-radius: 0.25rem;
}
.container{
    height: auto;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    margin:1rem;
    
}
.detail{
    margin: 12px;
    padding:12px;
    width: 90%;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 0.25rem;
    flex-direction: row;
    border-top: solid  #3e4baf;
    border-left: solid  #3e4baf;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.title h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.content .description .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.content .description .btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}