*{
    marg600px;
    padding: 0;
}


ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.images{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/employees-working-from-home\ \(1\).png);
    width:auto;
    height:600px;
    background-size:cover;
}

.main2{
    display:inline-block;

}

.container{
    display:inline-flex;
    margin-top:50px;
}

.container img{
    width:400px;
    height:300px;
    margin-left:300px;
    border-radius:50px 0px 0px 50px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/COVID_Kerala_palakkad_1200_PTI.jpg);
}


.container{
    display:inline-flex;
    margin-top:50px;
}

.container img{
    width:400px;
    height:300px;
    margin-left:100px;
    border-radius:50px 0px 0px 50px;
}

.description,#description2,#description3{
    width:400px;
    background:rgb(210, 217, 217);
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    color:rgb(25, 133, 162);
        
}

ol {
    list-style-type: square;
    margin-left:40px;  
    margin-top:25px;
    font-size:28px; 
    color:rgb(75, 112, 224);
    font-family:Trebuchet MS;
    line-height: 50px;
    
}


#container2{
    display:inline-flex;
    margin-top:50px;
    
}

#container2 img{
    width:400px;
    height:300px;
    margin-left:500px;     
    border-radius:50px 0px 0px 50px;

}


#container3{
    display:inline-flex;
    margin-top:50px;
    
}

#container3 img{
    width:400px;
    height:300px;
    margin-left:100px;     
    border-radius:50px 0px 0px 50px;

}



body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/images.jpg);
    padding:0;
    margin:0;
}

.second{
    height:400px;
    margin-top:50px;
    background:white;
    margin:auto;
}


.second p{
    font-size:250px;
    background:white;
    width:350px;
    position:relative;
    left:720px;
    top:-620px;
    color:red;
    font-weight:800;
 
}

.second2 img{
    position:relative;
    left:450px;
    top:-70px;
}