@keyframes change{
    0%{margin-left:500px;}
    20%{margin-left:0px;}
    40%{margin-left:-500px;}
    60%{margin-left:0px;}
    80%{margin-left:500px;}
    100%{margin-left:500px;}
}

@keyframes changes{
    0%{background-color: rgb(172, 124, 36);}
    20%{background-color: rgb(184, 142, 65);}
    40%{background-color: rgb(141, 114, 65);}
    60%{background-color: rgb(178, 153, 107);}
    80%{background-color: rgb(200, 184, 155);}
}

h3{
    text-align: center;
    margin-top:50px;
    font-size:60px;
    font-family:Helvetica;
    font-style:italic;
    font-weight:800px;
    color:rgb(75, 49, 16);
    animation-name:change;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    
}
.row{
    display:inline-block;
    margin-left:200px;
}

.row img{
    border-radius: 100%;
    margin-right:60px;
    width:300px;
    margin-top:40px;
    cursor: pointer;
    transition: all 0.5s;

}

.row2 h4{
    display:inline;
    margin-right:-110px; 
    margin-left:270px;
    font-size:25px;
    font-style:oblique;
}

img:hover{
    transform:scale(1.2);
}

body{
    background:rgb(200, 152, 64);  
    animation-name:changes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.info h3{
    margin-top:120px;

}

.info ul{
    font-size:25px;
    padding:60px;
    line-height:50px;

}
