*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

body {
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://static01.nyt.com/images/2021/11/11/opinion/11Denmark/11Denmark-videoSixteenByNine3000.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.title h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
}

.wrapper1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 15%;
}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card {
    width: 320px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block; width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
}

.card img {
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position:relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform:translateY(0px) ;
}

.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}


.footer{
    width:auto;
    height:200px;
    position:relative;
    top:650px;
}

.footer h2{
    padding:50px;
    font-size:20px;
    color:white;
    font-family:Apple Chancery;
    word-spacing: 10px; 
    letter-spacing: 8px; 
}

.footer h3{
    margin-top:-30px;
    font-size:1px;
 
}

.footer a{
    color:bisque;
    font-family:Georgia;
    letter-spacing:2px;
    text-decoration: none;


}

.footer a:hover{
    color:azure;
}

.btn2 {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 20px;
    font-weight: 4bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-right: 30px;
}

.btn2:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}